/* * {
  box-sizing: border-box;
} */

/* fn + alt + arrow used for line movement */
/* ctrl + alt + arrow used for multiple cursor line */

body {
  background-image: url(https://cdn.wallpapersafari.com/7/94/g0U8rL.jpg);
  background-repeat: no-repeat;
  background-size: 1800px 1600px;
  font-family: "Open Sans", sans-serif;
}
#headline {
  color: rgb(81, 52, 0);
}
#contact {
  text-align: center;
}
.left {
  display: inline-block;
  margin: 0px;
  padding: 0px 34px;
  font-size: 4vh;
  float: left;
}
/* .left img {
  width: 70px;
  filter: invert(100%);
} */
.nav {
  margin: 5px;
  padding: 1px;
  position: absolute;
  width: 900px;
  display: block;
  left: 200px;
}
.nav ul {
  display: inline-block;
  float: right;
  overflow: auto;
}
li {
  display: inline-block;
  float: left;
  list-style: none;
  padding: 0px;
  margin: auto 30px;
  font-size: 4vh;
  width: auto;
}
.right {
  margin: 10px auto;
  padding: 1px;
  display: inline-block;
  /* border: 1px solid yellow; */
  float: right;
}
.nav li a {
  color: rgb(81, 52, 0);
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
}
.nav li a:hover {
  display: inline-block;
  color: rgb(132, 86, 2);
  text-decoration: underline;
}
.nav a :active {
  color: rgb(241, 52, 52);
}
h1 {
  /* color: rgb(81, 52, 0); */
  color: white;
  font-size: 1.5cm;
  margin: 1cm;
  text-align: right;
}
.content {
  background-color: rgba(77, 50, 0, 0.532);
  padding: 200px;
  padding-right: 10px;
  padding-top: 60px;
  text-align: right;
  display: block;
}
#content {
  /* color: rgb(32, 21, 1); */
  color: white;
  margin: 1cm;
  text-align: right;
  font-size: 0.5cm;
  width: 800px;
  height: auto;
  float: right;
}
strong {
  color: rgb(247, 255, 4);
}
h3 {
  color: rgb(255, 255, 255);
  margin: 1cm;
  text-align: center;
}
#form {
  text-align: center;
  border: 2px rgb(81, 52, 0) solid;
  border-radius: 15px;
  background-color: rgba(86, 56, 0, 0.431);
  width: 50vw;
  height: 70vh;
  padding: 10px;
  margin: auto;
  /* background-color: rgb(153, 110, 1); */
}
#form input {
  text-align: center;
  width: 500px;
  height: 30px;
}
.btn {
  margin: 5px;
  padding: 7px;
  border-radius: 4px;
  color: white;
  border: 1px solid rgb(255, 183, 0);
  background-color: rgb(81, 52, 0);
  width: 100px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(132, 86, 2);
}
#btn {
  width: 500px;
  border-color: rgb(163, 100, 0);
}
#contact {
  color: white;
  background-color: rgba(77, 50, 0, 0.532);
  padding: 50px;
}
